# Explicit language mapping
*.dart linguist-language=Dart
*.kt linguist-language=Kotlin
*.swift linguist-language=Swift
*.java linguist-language=Java
*.m linguist-language=Objective-C
*.mm linguist-language=Objective-C++
*.c linguist-language=C
*.cc linguist-language=C++
*.cpp linguist-language=C++
*.h linguist-language=C

# Generated and tooling files
**/*.g.dart linguist-generated=true
**/.dart_tool/** linguist-generated=true
**/build/** linguist-generated=true
**/.idea/** linguist-generated=true
**/*.iml linguist-generated=true
